# This Section is all about Variables

variable_name = value

In [1]:
salary = 100000

In [2]:
salary

100000

In [3]:
"salary"  # This is not the same as the variable salary

'salary'

In [4]:
#Total Salaray = (Base Salary) * (1 + (Bonus Rate))

base_salary = 100000
bonus_rate = .10

total_salary = base_salary * (1 + bonus_rate)

In [5]:
total_salary

110000.00000000001

In [6]:
company_name = "DataWiz Inc."
company_name

'DataWiz Inc.'

In [7]:
job_wfh = True

In [8]:
job_wfh

True

In [9]:
job_id = 101
job_title = "Data Analyst"
job_salary = 125000

In [12]:
print("Data Job Description")
print("+++++++++++++++++++++")
print("Job ID:      ", job_id)
print("Company Name:", company_name)
print("Job Title:   ", job_title)
print("Salary:      ", job_salary)
print("WFH:         ", job_wfh)

Data Job Description
+++++++++++++++++++++
Job ID:       101
Company Name: DataWiz Inc.
Job Title:    Data Analyst
Salary:       125000
WFH:          True