<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_04_Strings.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Convert to Uppercase (1.4.1)

In [ ]:
# Code Needed
job_title = 'data scientist'

---

## ðŸŸ© Replace Substring (1.4.2)

In [ ]:
# Code Needed
job_title = 'Data Analyst'

---

## ðŸŸ¨ Concatenate Strings (1.4.3)

In [ ]:
# Code Needed
seniority_level = 'Senior'
job_title = 'Data Analyst'

---

## ðŸŸ¨ Check String Length (1.4.4)

In [ ]:
# Code Needed
job_title = 'Data Scientist'

---

## ðŸŸ© Convert to lowercase (1.4.5)

In [ ]:
# Code Needed
job_title = 'DATA ENGINEER'

---