<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_06_Operators Part 1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Calculate Annual Salary (1.6.1)

In [ ]:
# Code Needed
monthly_salary = 8000

---

## ðŸŸ© Compare Salaries (1.6.2)

In [ ]:
# Code Needed
avg_salary_analyst = 70000
avg_salary_scientist = 85000

---

## ðŸŸ¨ Calculate Remainder (1.6.3)

In [ ]:
# Code Needed
total_applications = 123
job_openings = 10

---

## ðŸŸ¨ Increment Job Postings (1.6.4)

In [ ]:
# Code Needed
job_postings = 20

---

## ðŸŸ¨ Calculate Average Salary (1.6.5)

In [ ]:
# Code Needed
min_salary = 50000
max_salary = 120000

---