<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_11_Tuples.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Role (1.11.1)

In [ ]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')

---

## ðŸŸ¨ Add Job Role to Tuple (1.11.2)

In [ ]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')

---

## ðŸŸ¨ Remove Job Role from Tuple (1.11.3)

In [ ]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')

---

## ðŸŸ¨ Unpack Job Postings Tuple (1.11.4)

In [ ]:
# Code Needed
job_postings = (120, 80, 50)

---

## ðŸŸ¥ Extract Nested Value from Tuple (1.11.5)

In [ ]:
# Code Needed
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))

---