<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_12_Operators Part 2.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Check Object Identity (1.12.1)

In [ ]:
# Code Needed
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'

---

## ðŸŸ© Check Membership in List (1.12.2)

In [ ]:
# Code Needed
job_locations = ['New York', 'San Francisco', 'Austin']

---

## ðŸŸ¨ Check Substring Not in String (1.12.3)

In [ ]:
# Code Needed
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'

---

## ðŸŸ¨ Check Multiple Memberships (1.12.4)

In [ ]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

---

## ðŸŸ¥ Bitwise OR Operation (1.12.5)

In [ ]:
# Code Needed
salary1 = 100000
salary2 = 50000

---