<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [ ]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

---

## ðŸŸ© Total Job Postings (1.13.2)

In [ ]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [ ]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [ ]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

---

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [ ]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

---