<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_16_Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Job Title Contains (1.16.1)

In [ ]:
# Code Needed
job_title = 'Data Scientist'
keyword = 'Data'

---

## ðŸŸ© Average Salary (1.16.2)

In [ ]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]

---

## ðŸŸ¨ Salary Statistics (1.16.3)

In [ ]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]

---

## ðŸŸ¥ Job Posting Summary (1.16.4)

In [ ]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

---