<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_23_Pandas Intro.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Load and Display Last 5 Rows (1.23.1)

**Problem Statement:**
- Import the Pandas library under the alias <code>pd</code>.
- Import the <code>load_datset</code> function from <code>datasets</code> library.
- Load the course dataset (<code>'lukebarousse/data_jobs'</code>) using the <code>load_dataset</code> function.
- Transform it into a DataFrame and display the last 5 rows.

**Hint:**
Use the <code>tail</code> method to display the last 5 rows.

In [2]:
import pandas as pd
from datasets import load_dataset

In [4]:
# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df.tail(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

---

## ðŸŸ© Select Job Location Column (1.23.2)

**Problem Statement:**
Select and display the <code>job_location</code> column from the course dataset DataFrame you created in the last exercise using bracket notation.

**Code Needed:**
>import pandas as pd<br>
>from datasets import load_dataset<br>
>dataset = load_dataset('lukebarousse/data_jobs')<br>
>df = dataset['train'].to_pandas()<br>

**Hint:**
Use the bracket notation to select the column.

In [6]:
df['job_location']

0                               Watertown, CT
1                Guadalajara, Jalisco, Mexico
2                             Berlin, Germany
3                             San Antonio, TX
4                              Washington, DC
                         ...
785736                              Singapura
785737                     Bad Rodach, Jerman
785738                               Malaysia
785739    Newark, New Jersey, Amerika Serikat
785740                                  India
Name: job_location, Length: 785741, dtype: object

---

## ðŸŸ© Select Search Location Column (1.23.3)

***Problem Statement:**
Select and display the <code>search_location</code> column from the DataFrame using dot notation.

**Code Needed:**
>import pandas as pd<br>
>from datasets import load_dataset<br>
<br>
>dataset = load_dataset('lukebarousse/data_jobs')<br>
>df = dataset['train'].to_pandas()<br>

**Hint:**
Use the dot notation to select the column.

In [7]:
df.search_location

0         Texas, United States
1                       Mexico
2                      Germany
3         Texas, United States
4                        Sudan
                  ...
785736               Singapore
785737                 Germany
785738                Malaysia
785739                   Sudan
785740                   India
Name: search_location, Length: 785741, dtype: object

---

## ðŸŸ© Select Job Title from 57th Row Element (1.23.4)

**Problem Statement:**
Select the <code>job_title</code> from the 57th row from the DataFrame using its index.

**Code Needed:**
>import pandas as pd<br>
>from datasets import load_dataset<br>
<br>
>dataset = load_dataset('lukebarousse/data_jobs')<br>
>df = dataset['train'].to_pandas()<br>

**Hint:**
Use the column title and index to select the specific element.

In [10]:
df['job_title'][56]

'Principal Statistical Scientist'

---