<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_25_Pandas Cleaning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
!pip install datasets
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

---

## ðŸŸ© Sort by Salary (1.25.1)

---

## ðŸŸ© Create Remote Column (1.25.2)

---

## ðŸŸ© Extract Year from Date (1.25.3)

---

## ðŸŸ¨ Drop Missing Salaries (1.25.4)

---