<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_01_Pandas Accessing Data.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Select First 5 Rows (2.1.1)

---

## ðŸŸ© Get Rows and Columns (2.1.2)

---

## ðŸŸ¨ First 15 Rows in US (2.1.3)

---

## ðŸŸ¥ Filter by Date (2.1.4)

---