<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_04_Pandas Pivot Tables.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Count Job Postings by Title and Country (2.4.1)

---

## ðŸŸ¨ Salary Stats by Job Title (2.4.2)

---

## ðŸŸ¥ Sum Salary by Title and Country (2.4.3)

---