<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_10_Pandas Applying Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Convert Date to String (2.10.1)

---

## ðŸŸ¨ Days Since Posted (2.10.2)

---

## ðŸŸ¥ Salary Category (2.10.3)

---